<!DOCTYPE html>
<html>
<head>
	<title>
		hello
	</title>
</head>
<body>
	<div class="container">
		<input type="number" name="roll no" placeholder="roll no" id="rno">
		<button id="btn">Login</button>
		
	</div>
	<script type="text/javascript" src="./../welcomescript.js"></script>
</body>
</html>